<div id="page-mobile-channel">
  <div class="row title-bar">
    <a href="#/">主页</a>
    <span>{{ channel.title }}</span>
  </div>
  <div class="row poster">
    <img ng-src="{{ channel.poster.url }}">
    <div class="text">
      <div class="title">{{ channel.poster.title }}</div>
      <div class="description">{{ channel.poster.description }}</div>
    </div>
  </div>
  <div class="row entries">
    <a ng-repeat="entry in channel.entries" href="#/entries/{{ entry.id }}" class="entry">
      <img ng-src="{{ entry.icon }}">
      <span class="text">{{ entry.text }}</span>
    </a>
  </div>
</div>