//
   Created by hyku on 2016/12/4.

form.form-horizontal(name="form", novalidate, ng-submit="submit()")
    div.form-group
        label 名称
        input.form-control(type="text", placeholder="文件名称", ng-model="item.name", required, name="name")
    div.form-group
        label 文件
        input.form-control(type="text", file-input, name="uri", ng-model="item.uri", required, on-upload="upload(file)")
    div.form-group
        input.btn.btn-default(type="submit", value="提交", ng-disabled="form.$invalid")