<div id="page-admin-home" class="grid-row">
  <div class="grid-col-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span>Channel</span>
          <span class="glyphicon glyphicon-plus pull-right" ng-click="editChannel()"></span>
        </h4>
      </div>
      <div class="panel-body">
        <div class="panel panel-default channel" ng-repeat="channel in channels track by $index"
             ng-class="channelClass(channel)" ng-click="channelClick(channel)">
          <div class="panel-title">
            <div class="icon">
              <img ng-src="{{ channel.icon }}">
            </div>
            <div class="text">{{ channel.name }}</div>
            <div class="operation">
              <span class="glyphicon glyphicon-edit" ng-click="editChannel(channel)"></span>
              <span class="glyphicon glyphicon-remove" ng-click="removeChannel($index, channel)"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-4" ng-if="status.channel">
    <div class="panel panel-default">
      <div class="panel-title">
        <span>Entries & Steps</span>
        <span class="glyphicon glyphicon-plus pull-right" ng-click="editEntryOrOption('entry', status.channel)"></span>
      </div>
      <div class="panel-body">
        <div class="panel panel-default entry" ng-repeat="entry in entries track by $index">
          <tree root="entry" adapter="entryAdapter"
                children-loader="loadChildren"
                add-item="addItem" remove-item="removeItem"
                node-click="itemClick" edit-item="itemEdit">
          </tree>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-8">
    <div class="panel panel-default" ng-if="currentItem">
      <div class="panel-title">{{ currentItem.type }}</div>
      <div class="panel-body" ng-if="currentItem.type==='option'">
        <table class="table">
          <tr>
            <td>id</td>
            <td>{{ currentItem.id }}</td>
          </tr>
          <tr>
            <td>text</td>
            <td>{{ currentItem.text }}</td>
          </tr>
        </table>
      </div>
      <div class="panel-body" ng-if="currentItem.type==='report'">
        <table class="table">
          <tr>
            <td>id</td>
            <td>{{ currentItem.id }}</td>
          </tr>
          <tr>
            <td>title</td>
            <td>{{ currentItem.title }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>