<div id="page-admin-home" class="grid-row">
  <div class="grid-col-4">
    <div class="panel panel-default">
      <div class="panel-title">Channel</div>
      <div class="panel-body">
        <div class="panel panel-default channel" ng-repeat="channel in channels"
             ng-class="channelClass(channel)" ng-click="channelClick(channel)">
          <div class="panel-title">
            <div class="icon">
              <img ng-src="{{ channel.icon }}">
            </div>
            <div class="text">{{ channel.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-4">
    <div class="panel panel-default">
      <div class="panel-title">Entry</div>
      <div class="panel-body">
        <div class="panel panel-default entry" ng-repeat="entry in entries">
          <tree root="entry" adapter="entry_adapter"
                children-loader="load_children"
                add-item="add_item" remove-item="remove_item"
                node-click="item_click">
          </tree>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-8">
    <div class="panel panel-default" ng-show="currentItem">
      <div class="panel-title">{{ currentItem.type }}</div>
      <div class="panel-body" ng-if="currentItem.type==='step'">
        <table class="table">
          <tr>
            <td>id</td>
            <td>{{ currentItem.id }}</td>
          </tr>
          <tr>
            <td>text</td>
            <td>{{ currentItem.text }}</td>
          </tr>
        </table>
      </div>
      <div class="panel-body" ng-if="currentItem.type==='report'">
        <table class="table">
          <tr>
            <td>id</td>
            <td>{{ currentItem.id }}</td>
          </tr>
          <tr>
            <td>title</td>
            <td>{{ currentItem.title }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>