<div id="page-admin-home" class="grid-row">
  <div class="grid-col-4">
    <div class="panel panel-default">
      <div class="panel-title">Channel</div>
      <div class="panel-body">
        <div class="panel panel-default channel" ng-repeat="channel in channels"
             ng-class="channelClass(channel)" ng-click="channelClick(channel)">
          <div class="panel-title">
            <div class="icon">
              <img ng-src="{{ channel.icon }}">
            </div>
            <div class="text">{{ channel.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col-4">
    <div class="panel panel-default">
      <div class="panel-title">Entry</div>
      <div class="panel-body">
        <!--<div class="panel panel-default entry" ng-repeat="entry in entries"-->
             <!--ng-class="entryClass(entry)" ng-click="entryClick(entry)">-->
          <!--<div class="panel-title">-->
            <!--<div class="icon">-->
              <!--<img ng-src="{{ entry.icon }}">-->
            <!--</div>-->
            <!--<div class="text">{{ entry.text }}</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="panel panel-default entry" ng-repeat="entry in entries">
          <tree root="entry" adapter="entry_adapter"
                children-loader="load_children">
          </tree>
        </div>
      </div>
    </div>
  </div>
</div>