//
   Created by hyku on 2016/12/3.

div.row(style="max-height: 100%;")
    div.row(style="text-align: right", ng-if="$state.includes('home.base.super')")
        span.glyphicon.glyphicon-plus(ng-click="updateClass()")
    div.row
        div.col-md-3
            uib-accordion(close-others="true")
                div.panel-default(ng-if="$state.includes('home.base.super')", uib-accordion-group, ng-repeat="c in data.classes", heading="{{ c.name }}", context-menu="classContextMenu")
                    div.panel(ng-repeat="article in c.articles", ng-click="openArticle(article)", context-menu="articleContextMenu").
                        {{ article.name }}
                div.panel-default(ng-if="!$state.includes('home.base.super')", uib-accordion-group, ng-repeat="class in data.classes", heading="{{ class.name }}")
                    div.panel(ng-repeat="article in class.articles", ng-click="openArticle(article)").
                        {{ article.name }}
        div.col-md-9(style="max-height: 100%;")
            div.content(ng-show="!$state.includes('home.base.super')")
                div(ng-bind-html="trustedHtml(current.focusedArticle.content)")
            div(ng-show="$state.includes('home.base.super')")
                form(ng-show="current.focusedArticle", name="faLvWenDa_content_form", ng-submit="updateArticleContent(current.focusedArticle, editingCurrent.content)")
                    div.form-group
                        summernote#article-summernote(config="summerNoteOptions", ng-model="editingCurrent.content", name="content",
                        on-image-upload="uploadImage(files)", editor, editable)
                    div.form-group(style="text-align: center")
                        input.btn.btn-default(value="保存", type="submit", ng-disabled="faLvWenDa_content_form.$invalid || faLvWenDa_content_form.$pristine")
                div(ng-show="!current.focusedArticle")
                    | 点击左侧选择

