<div id="home" class="container-fluid">
  <div class="top-bar">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div ui-view="topBar"></div>
      </div>
    </div>
  </div>
  <div id="top" class="top-bar-placeholder"></div>
  <div class="title-area">
    <div class="row title">
      <div class="col-md-10 col-md-offset-1">
        <div class="headline-1">律答家&middot;法律咨询专家</div>
        <div class="headline-2">专业、细致、用心为您服务</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="top-entries">
          <div ng-repeat="entry in entries" class="entry">
            <div class="fake"></div>
            <div class="body" ng-click="goto(entry.hash)">
              <span class="iconfont icon" ng-class="entry.icon"></span>
              <span class="name" ng-bind="entry.text">诉讼文书</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <div id="aside-index" class="icon-indexes-table affix">
          <div class="entry iconfont icon-icon" ng-click="goto('top')"></div>
          <div ng-repeat="entry in entries" class="entry iconfont"
               ng-class="entry.icon"
               ng-click="goto(entry.hash)">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row main">
    <div class="col-md-10 col-md-offset-1">
      <div id="suSongWenShu" class="entry-title">
        <span>诉讼文书</span>
      </div>
      <div class="entry">
        <div class="fake"></div>
        <div class="body">
          <div ui-view="suSongWenShu">
          </div>
        </div>
      </div>

      <div id="xieYiFanBen" class="entry-title">
        <span>协议范本</span>
      </div>
      <div class="entry">
        <div class="fake"></div>
        <div class="body">
          <div ui-view="xieYiFanBen"></div>
        </div>
      </div>

      <div id="faLvWenDa" class="entry-title">
        <span>法律问答</span>
      </div>
      <div class="entry">
        <div class="fake"></div>
        <div class="body">
          <div ui-view="faLvWenDa"></div>
        </div>
      </div>

      <div id="faLvZiXun" class="entry-title">
        <span>法律咨询</span>
      </div>
      <div class="entry">
        <div class="fake"></div>
        <div class="body">
          <div ui-view="faLvZiXun"></div>
        </div>
      </div>

      <div id="renGongZiXun" class="entry-title">
        <span>人工咨询</span>
      </div>
      <div class="entry">
        <div class="fake"></div>
        <div class="body">
          <div ui-view="renGongZiXun"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <span>CorpRight</span>
      </div>
    </div>
  </div>
</div>