//
   Created by hyku on 2016/12/3.

div#top-bar
    div.col-md-10.col-md-offset-1
        span.logo 律答家logo
        span.user-area.pull-right
            a(href, ng-click="login()") 登录
            span |
            a(href, ng-click="register()") 注册
div.top-bar-placeholder
